
### Hi👋, I'm RyoJerryYu. 

- My most starred GitHub repo is: [{{github.most_starred_repo.repo_name}}]({{github.most_starred_repo.repo_url}}), with {{github.most_starred_repo.stars}} stars.
- My most forked GitHub repo is: [{{github.most_forked_repo.repo_name}}]({{github.most_forked_repo.repo_url}}), with {{github.most_forked_repo.forks}} forks.
- In last 7 days, I have {{github.recent_commit_cnt}} commits, in {{github.recent_repo_cnt}} repositories.
{% if github.most_recent_committed_repo.repo_name != 'none' -%}
- Just on {{github.most_recent_committed_repo.datestr}}, at {{github.most_recent_committed_repo.timestr}}, I pushed a commit in [{{github.most_recent_committed_repo.repo_name}}]({{github.most_recent_committed_repo.repo_url}}).
{%- endif %}

*updated at {{github.updated_at_str}}.*

[![Blog](https://img.shields.io/badge/-->-Click%20Here%20To%20Visit%20My%20Blog-18244a?style=for-the-badge&labelColor=4bbed5)](https://blog.ryo-okami.xyz/)

[![AWS Certified Solutions Architect – Associate](assets/aws-certified-solutions-architect-associate.png)](https://www.credly.com/badges/b73ee111-8813-418a-b0e5-e8db234bbef9/public_url)


<img align="left" src="https://github-readme-stats.vercel.app/api/top-langs/?username=RyoJerryYu&layout=compact&show_icons=truee&title_color=e5e545&text_color=f5f8e6&icon_color=4bbed5&bg_color=18244a&card_width=445&langs_count=10&exclude_repo=RyoJerryYu.GitHub.io&hide=HTML,CSS"/>
  
  
<img align="left" src="https://github-readme-stats.vercel.app/api?username=RyoJerryYu&show_icons=true&title_color=e5e545&text_color=f5f8e6&icon_color=4bbed5&bg_color=18244a"/>

### Language

{% for badge in languages -%}
![{{badge.name}}](https://img.shields.io/badge/-{{badge.name}}-{{colors.background_color}}?style=flat-square&logo={{badge.logo}}&logoColor={{colors.logo_color}})
{% endfor %}

### Cloud Native

{% for badge in cloud_native -%}
![{{badge.name}}](https://img.shields.io/badge/-{{badge.name}}-{{colors.background_color}}?style=flat-square&logo={{badge.logo}}&logoColor={{colors.logo_color}})
{% endfor %}

### Other Framworks and Tools

{% for badge in skills -%}
![{{badge.name}}](https://img.shields.io/badge/-{{badge.name}}-{{colors.background_color}}?style=flat-square&logo={{badge.logo}}&logoColor={{colors.logo_color}})
{% endfor %}
  
<!--
**RyoJerryYu/RyoJerryYu** is a ✨ _special_ ✨ repository because its `README.md` (this file) appears on your GitHub profile.

Here are some ideas to get you started:

- 🔭 I’m currently working on ...
- 🌱 I’m currently learning ...
- 👯 I’m looking to collaborate on ...
- 🤔 I’m looking for help with ...
- 💬 Ask me about ...
- 📫 How to reach me: ...
- 😄 Pronouns: ...
- ⚡ Fun fact: ...
-->
